<div class="flex flex-col gap-y-12 desk:flex-row desk:gap-x-23px">
  <ul class="flex gap-y-19px flex-col desk:w-300px">
    <li><a href="" rel="noopener noreferrer">FAQ</a></li>
    <li><a href="" rel="noopener noreferrer">RETURNS</a></li>
    <li><a href="" rel="noopener noreferrer">CONTACT</a></li>
  </ul>
  <ul class="flex gap-y-19px flex-col desk:w-300px">
    <li><a href="" rel="noopener noreferrer">TERMS & CONDITIONS</a></li>
    <li><a href="" rel="noopener noreferrer">PRIVACY POLICY</a></li>
    <li><a href="" rel="noopener noreferrer">COOKIE POLICY</a></li>
    <li><a href="" rel="noopener noreferrer">COOKIE SETTINGS</a></li>
  </ul>
  <ul class="flex gap-y-19px flex-col desk:w-300px">
    <li>
      <a
        href="https://voodooecom.com/"
        class="font-grotesk about_voodoo"
        rel="noopener noreferrer"
        >ABOUT VOODOO</a
      >
    </li>
    <li>
      <a href="" class="font-grotesk" rel="noopener noreferrer">CAREER</a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/people/Voodoo-Ecom/100085045137430/"
        rel="noopener noreferrer"
        >FACEBOOK</a
      >
    </li>
    <li><a href="" rel="noopener noreferrer">INSTAGRAM</a></li>
  </ul>
</div>
<div class="w-full h-24 flex justify-center items-center">
  <svg class="w-20 h-20 fill-black">
    <use href="./img/sprite.svg#icon-Logomark"></use>
  </svg>
</div>
