<div class="flex gap-x-1 desk:gap-x-3">
  <a href="" rel="noopener noreferrer"
    ><svg class="w-23 h-23 fill-black desk:w-45 desk:h-45">
      <use href="./img/sprite.svg#icon-Logomark"></use></svg
  ></a>
  <a href="" rel="noopener noreferrer"
    ><svg class="w-108 h-50px desk:w-193 desk:h-98">
      <use href="./img/sprite.svg#icon-Logotype"></use></svg
  ></a>
</div>
<div class="flex gap-x-4 items-center h-50px desk:gap-x-12 desk:h-full">
  <button type="button" class="modal_open">
    <svg class="w-6 h-6 fill-black">
      <use href="./img/sprite.svg#icon-shopping-cart"></use>
    </svg>
  </button>
  <button
    type="button"
    class="bg-black text-white px-3 text-sm font-bold rounded h-34 w-78 desk:w-101 desk:h-38 desk:text-xl"
  >
    Sign-up
  </button>
</div>
