<div
  class="modal_window hidden h-screen fixed overflow-y-scroll top-0 right-0 overflow-hidden bg-black text-light-sand pl-37px pr-44px py-49px mob:w-390px desk:w-445px"
>
  <div class="flex justify-between mb-22px">
    <h2 class="text-2xl font-bold">Shopping Cart</h2>
    <button title="close shooping cart button" type="button" class="modal_close_btn">
      <svg class="fill-light-sand h-6 w-6">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="w-full h-px bg-light-sand mb-53px"></div>
  <ul class="shopping_cart_list flex flex-col gap-y-10 mb-8"></ul>
  <div class="w-full h-px bg-light-sand mb-35px"></div>
  <div class="text-sm font-bold flex justify-between">
    <p>Total</p>
    <p class="total_sum">0 KR.</p>
  </div>
</div>
